@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-background: #FBF8F1;
  --color-secondary-background:  #F2E9D1;
  --color-white: #FFFFFF;
  --color-dark: #1D1D1B;
  --color-gray: #C0C0C0;
  --color-olive: #94A680;
  --color-green: #2E6A2D;
}


@theme {
  --font-montserrat: "Montserrat", "sans-serif"; 
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}