---
// import Welcome from '../components/Welcome.astro';
import Banner from "../../components/Banner.astro";
import BottomBanner from "../../components/BottomBanner.astro";
import Layout from "../../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="mt-10">
    <img src="/images/columns.webp" alt="columns image" />
  </div>

  <main class="mt-10 w-[70%] mx-auto">
    <div class="w-full text-center">
      <h1
        class="flex justify-between text-4xl uppercase text-gray tracking-[0.15em] w-full mx-auto"
      >
        <span>Y</span>
        <span>O</span>
        <span>U</span>
        <span>R</span>
        <span> </span>
        <span>S</span>
        <span>T</span>
        <span>R</span>
        <span>A</span>
        <span>T</span>
        <span>E</span>
        <span>G</span>
        <span>I</span>
        <span>C</span>
        <span> </span>
        <span>A</span>
        <span>L</span>
        <span>L</span>
        <span>Y</span>
      </h1>
      <h2
        class="flex justify-between text-sm uppercase tracking-[0.25em] text-gray w-full mx-auto"
      >
        <span>I</span>
        <span>N</span>
        <span> </span>
        <span>C</span>
        <span>O</span>
        <span>M</span>
        <span>P</span>
        <span>R</span>
        <span>E</span>
        <span>H</span>
        <span>E</span>
        <span>N</span>
        <span>S</span>
        <span>I</span>
        <span>V</span>
        <span>E</span>
        <span> </span>
        <span>L</span>
        <span>E</span>
        <span>G</span>
        <span>A</span>
        <span>L</span>
        <span> </span>
        <span>S</span>
        <span>O</span>
        <span>L</span>
        <span>U</span>
        <span>T</span>
        <span>I</span>
        <span>O</span>
        <span>N</span>
        <span>S</span>
      </h2>
    </div>
    <div
      class="mt-12 border-l-[6px] border-[#98A97C] pl-6 max-w-4xl mx-auto space-y-6 text-[17px] leading-relaxed"
    >
      <p>
        Lexdata Services is an Ecuadorian legal consulting firm designed for the
        digital age.
      </p>
      <p>
        We offer specialized, high-value legal solutions in real estate,
        notarial, municipal, and registry areas. Our expert advisory and legal
        representation services facilitate the formalization of public deeds,
        adapting to the needs of a dynamic and globalized market.
      </p>
      <p>
        With Lexdata Services, you receive personalized and efficient service.
        We simplify your procedures, coordinating each step with precision and
        punctuality. We free you from all queues and resolve any complications,
        delivering your documents anywhere in Ecuador or the world upon
        successful completion.
      </p>
    </div>
  </main>
</Layout>
<Banner image={"lawyers.webp"} />
<section class="mt-10">
  <div class="container mx-auto">
    <div class="w-[70%] mx-auto">
      <h3 class="text-4xl text-gray uppercase">MISSION</h3>
      <p class="text-gray mt-2">
        ¿Are you seeking security and peace of mind in legal decision-making?
      </p>
      <p class="mt-10 text-gray">
        Are you seeking security and peace of mind in legal decision-making? At
        Lexdata Services, our mission is to provide you with the legal certainty
        you need to make informed and strategic decisions. We combine deep legal
        knowledge with a solid network of relationships, offering innovative,
        agile, and efficient solutions tailored to your specific requirements.
      </p>
    </div>
  </div>
  <div class="mt-10 bg-secondary-background w-[70%] ml-auto p-6">
    <div class="w-[75%] leading-6">
      <p class="mb-4 font-bold">Our specialization encompasses:</p>
      <ul class="list-disc flex flex-col gap-4">
        <li class="text-black/50">
          <span class="font-bold text-black">Real Estate: </span>We ensure the profitability and legality of your real estate investments through comprehensive and expert management.
        </li>
        <li class="text-black/50">
          <span class="font-bold text-black"
            >Mandates and Powers of Attorney:
          </span>We protect your interests and guarantee the fulfillment of your intentions, providing precise and reliable legal advice.
        </li>
        <li class="text-black/50">
          <span class="font-bold text-black">Family Law: </span>We accompany you with sensitivity and professionalism in resolving family conflicts. For your travels, we manage exit permits for your minor children, prioritizing your family's well-being.
        </li>
        <li class="text-black/50">
          <span class="font-bold text-black">Corporate Law: </span>We advise you clearly on business models and sponsor the corporate structure that best suits your needs, whether it's a limited company, corporation, or civil and commercial partnership.
        </li>
      </ul>
    </div>
  </div>
</section>
<Banner image={"catalejo.webp"} />
<section class="mt-10">
  <div class="container mx-auto">
    <div class="w-[70%] mx-auto">
      <h3 class="text-4xl text-gray uppercase">VISION</h3>
      <p class="text-gray mt-2">
        In a constantly evolving world driven by information technologies, Lexdata Services positions itself as your strategic ally. Our goal is to facilitate the agile, efficient, and effective legal implementation of your business in this new scenario.
      </p>
    </div>
  </div>
  <div class="container mx-auto mt-10">
    <div class="w-[70%] mx-auto">
      <div class="flex items-center">
        <div
          class="border-l-8 border-l-olive p-4 w-[30%] flex flex-col items-end text-4xl text-olive"
        >
          <!-- <p class="text-olive text-6xl text-left">¿Qué nos diferencia?</p> -->
          <div>WHAT</div>
          <div>SETS US</div>
          <div>APART?</div>
        </div>
        <hr class="border-t-3 border-dotted w-26 rotate-90" />
        <div class="w-[50%]">
          <p class="leading-relaxed">
            At Lexdata Services, we integrate traditional legal experience with advanced technological solutions, offering personalized and optimized service, ensuring maximum security and efficiency in all your operations.
          </p>
        </div>
      </div>
      <div class="p-4 bg-olive relative">
        <p class="text-white text-4xl h-auto">
          Trust Lexdata Services and secure your success in the digital age with traditional support!
        </p>
        <div class="absolute top-0 left-full w-screen bg-olive inset-0"></div>
      </div>
    </div>
  </div>
</section>
<BottomBanner />

<section class="container mx-auto mt-20">
  <div class="w-[70%] mx-auto">
    <div class="flex items-center">
      <div class="w-1/2">
        <p class="text-4xl text-left">
          Contact us today to schedule a free initial consultation.
        </p>
      </div>
      <hr class="border-t-4 border-dotted w-40 rotate-90" />
      <div class="w-1/2 flex flex-col justify-between gap-y-6">
        <p class="text-olive text-2xl">593-987654321</p>
        <p class="text-olive text-2xl">consultas@lexdata.com</p>
        <div class="flex gap-x-4">
          <img src="/x.svg" alt="x icon" />
          <img src="/wp.svg" alt="whatsapp icon" />
        </div>
      </div>
    </div>
  </div>
</section>
