---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container mx-auto">
		<div class="flex items-center justify-between p-6">
			<div class="flex gap-8">
				<div>
					<img src="/x.svg" alt="x icon" class="w-10"/>
				</div>
				<div>
					<img src="/wp.svg" alt="whatsapp icon" class="w-10">
				</div>
			</div>
			<div>
				<img src="/lexdata-logo.svg" alt="lexdata logo" class="w-2xs">
			</div>
		</div>
	</div>

</Layout>
