---
// import Welcome from '../components/Welcome.astro';
import Banner from "../components/Banner.astro";
import BottomBanner from "../components/BottomBanner.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Inicio | Lexdata">
  
    <div class="mt-10">
      <img src="/images/columns.webp" alt="columns image" />
    </div>

    <main class="mt-10 w-[70%] mx-auto">
      <div class="w-full text-center">
        <h1
          class="flex justify-between text-4xl uppercase text-gray tracking-[0.15em] w-full mx-auto"
        >
          <span>T</span>
          <span>U</span>
          <span class="ml-4">A</span>
          <span>L</span>
          <span>I</span>
          <span>A</span>
          <span>D</span>
          <span>O</span>
          <span class="ml-4">E</span>
          <span>S</span>
          <span>T</span>
          <span>R</span>
          <span>A</span>
          <span>T</span>
          <span>É</span>
          <span>G</span>
          <span>I</span>
          <span>C</span>
          <span>O</span>
        </h1>
        <h2
          class="flex justify-between text-sm uppercase tracking-[0.25em] text-gray w-full mx-auto"
        >
          <span>E</span>
          <span>N</span>
          <span class="ml-4">S</span>
          <span>O</span>
          <span>L</span>
          <span>U</span>
          <span>C</span>
          <span>I</span>
          <span>O</span>
          <span>N</span>
          <span>E</span>
          <span>S</span>

          <span class="ml-4">J</span>
          <span>U</span>
          <span>R</span>
          <span>Í</span>
          <span>D</span>
          <span>I</span>
          <span>C</span>
          <span>A</span>
          <span>S</span>

          <span class="ml-2">I</span>
          <span>N</span>
          <span>T</span>
          <span>E</span>
          <span>G</span>
          <span>R</span>
          <span>A</span>
          <span>L</span>
          <span>E</span>
          <span>S</span>
        </h2>
      </div>
      <div
        class="mt-12 border-l-[6px] border-[#98A97C] pl-6 max-w-4xl mx-auto space-y-6 text-[17px] leading-relaxed"
      >
        <p>
          Lexdata Services es una firma ecuatoriana de consultoría legal,
          concebida para la era digital.
        </p>
        <p>
          Ofrecemos soluciones jurídicas especializadas y de alto valor en las
          áreas inmobiliaria, notarial, municipal y registral. Brindamos
          asesoría experta y patrocinio legal para la formalización de
          escrituras públicas, adaptándonos a las necesidades de un mercado
          dinámico y globalizado.
        </p>
        <p>
          Con Lexdata Services, accedes a un servicio personalizado y eficiente.
          Simplificamos tus trámites, coordinando cada paso con precisión y
          puntualidad. Te liberamos de todas las filas y resolvemos cualquier
          complicación y al concluir exitosamente tus gestiones te hacemos
          llegar tus documentos a cualquier parte de Ecuador o del mundo.
        </p>
      </div>
    </main>
  </div>
  <Banner image={"lawyers.webp"} />
  <section class="mt-10">
    <div class="container mx-auto">
      <div class="w-[70%] mx-auto">
        <h3 class="text-4xl text-gray uppercase">Misión</h3>
        <p class="text-gray mt-2">
          ¿Buscas seguridad y tranquilidad en la toma de decisiones jurídicas?
        </p>
        <p class="mt-10 text-gray">
          En Lexdata Services, nuestra misión es brindarte la seguridad jurídica
          que necesitas para tomar decisiones informadas y estratégicas.
          Combinamos un profundo conocimiento del derecho con una red de
          relaciones sólidas, ofrecemos soluciones innovadoras, ágiles y
          eficientes, diseñadas para satisfacer tus requerimientos específicos.
        </p>
      </div>
    </div>
    <div class="mt-10 bg-secondary-background w-[70%] ml-auto p-6">
      <div class="w-[75%] leading-6">
        <p class="mb-4 font-bold">Nuestra especialización abarca:</p>
        <ul class="list-disc flex flex-col gap-4">
          <li class="text-black/50">
            <span class="font-bold text-black">Bienes Raices: </span>Aseguramos
            la rentabilidad y la legalidad de tus inversiones inmobiliarias
            mediante una gestión integral y experta.
          </li>
          <li class="text-black/50">
            <span class="font-bold text-black"
              >Mandatos y Poderes:
            </span>Protegemos tus intereses y garantizamos el cumplimiento de
            tus voluntades, brindando asesoría legal precisa y confiable.
          </li>
          <li class="text-black/50">
            <span class="font-bold text-black">Derecho de Familia: </span>Te
            acompañamos con sensibilidad y profesionalismo en la resolución de
            conflictos familiares. Para tus viajes gestionamos los permisos de
            salida de tus hijos menores, priorizando el bienestar de tu familia.
          </li>
          <li class="text-black/50">
            <span class="font-bold text-black">Derecho Societario: </span>Te
            asesoramos con claridad sobre modelos de negocios y patrocinamos la
            estructura societaria que mejor se ajuste a tus necesidades, sea
            esta una compañía limitada, anónima o una sociedad civil y
            comercial.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <Banner image={"catalejo.webp"} />
  <section class="mt-10">
    <div class="container mx-auto">
      <div class="w-[70%] mx-auto">
        <h3 class="text-4xl text-gray uppercase">Visión</h3>
        <p class="text-gray mt-2">
          En un mundo en constante evolución impulsado por las tecnologías de la
          información, Lexdata Services se posiciona como tu aliado estratégico.
          Nuestra meta es facilitar la instrumentación jurídica, ágil, eficiente
          y eficaz de tus negocios en este nuevo escenario.
        </p>
      </div>
    </div>
    <div class="container mx-auto mt-10">
      <div class="w-[70%] mx-auto">
        <div class="flex items-center">
          <div
            class="border-l-8 border-l-olive p-4 w-[30%] flex flex-col items-end text-4xl text-olive"
          >
            <!-- <p class="text-olive text-6xl text-left">¿Qué nos diferencia?</p> -->
            <div>¿QUÉ</div>
            <div>NOS</div>
            <div>DIFERENCIA?</div>
          </div>
          <hr class="border-t-3 border-dotted w-26 rotate-90" />
          <div class="w-[50%]">
            <p class="leading-relaxed">
              En Lexdata Services, integramos la experiencia jurídica
              tradicional con soluciones tecnológicas avanzadas, ofreciendo un
              servicio personalizado y optimizado, garantizando la máxima
              seguridad y eficiencia en todas tus operaciones.
            </p>
          </div>
        </div>
        <div class="p-4 bg-olive relative">
          <p class="text-white text-4xl h-auto">
            ¡Confía en Lexdata Services y asegura tu éxito en la era digital con
            un soporte tradicional!
          </p>
          <div class="absolute top-0 left-full w-screen bg-olive inset-0 ">

          </div>
        </div>
      </div>
    </div>
  </section>
  <BottomBanner />

  <section class="container mx-auto mt-20">
    <div class="w-[70%] mx-auto">
      <div class="flex items-center">
        <div class="w-1/2">
          <p class="text-4xl text-left">
            Contáctenos hoy mismo para programar una consulta inicial gratuita.
          </p>
        </div>
        <hr class="border-t-4 border-dotted w-40 rotate-90">
        <div class="w-1/2 flex flex-col justify-between gap-y-6">
          <p class="text-olive text-2xl">593-987654321</p>
          <p class="text-olive text-2xl">consultas@lexdata.com</p>
          <div class="flex gap-x-4">
            <img src="/x.svg" alt="x icon">
            <img src="/wp.svg" alt="whatsapp icon">
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
