---

---

<div class="container mx-auto mt-20">
  <div class="w-[70%] mx-auto relative">
    <!-- Imagen base -->
    <img src="/images/friso.webp" alt="friso image" class="h-32 w-full object-cover object-center" />

    <!-- Imagen centrada sobre la anterior -->
    <div class="absolute inset-0 flex items-center justify-center">
      <img
        src="/lexdata-logo-ocre.svg"
        alt="lexdata logo"
        class="w-sm"
      />
    </div>
  </div>
</div>
