---

---

<div class="container mx-auto mt-20">
  <div class="w-screen md:w-[70%] mx-auto relative">
    <img src="/images/friso.webp" alt="Friso decorativo de Lexdata Services" class="h-32 w-full object-cover object-center" loading="lazy" />
    <div class="absolute inset-0 flex items-center justify-center">
      <img
        src="/lexdata-logo-ocre.svg"
        alt="Lexdata Services logo"
        class="w-sm"
        loading="lazy"
      />
    </div>
  </div>
</div>
