---

---

<footer class="mt-10 bg-olive p-6 flex flex-col items-center">
  <div>
    <img src="/lexdata-logo-horizontal-white.svg" alt="lexdata logo" class="w-[50%] mx-auto">
  </div>
  
  <div>

  </div>
</footer>