---

---

<footer class="mt-10 bg-olive p-6 flex flex-col items-center">
  <div>
    <img src="/lexdata-logo-horizontal-white.svg" alt="lexdata logo" class="w-[50%] mx-auto">
  </div>
  <div class="mt-4">
    <p>Desarrolladdo por: <a href="https://www.linkedin.com/in/emilio-del-hierro-368b66243/" target="_blank"><span class="text-white underline">Emilio del Hierro</span></a></p>
  </div>
  <div>

  </div>
</footer>