---
import "../styles/global.css";
import Sidebar from "../components/Sidebar"
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lex Data</title>
	</head>
	<body class="bg-primary-background overflow-x-hidden">
		
		<Sidebar client:only="react"/>
		<slot />
		
	</body>
</html>


